/*****************
Custom Font Definitions
******************/

@font-face {
    font-family: 'Elegan';
    src: url('../public/fonts/EleganTech-.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Techno';
    src: url('../public/fonts/Techno.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  