@import './fonts.css';

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
  }
