/*****************
Modal Component Styles
******************/

.containerMain {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.modalContent {
    z-index: 1000;
    font-family: 'Elegan';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, hsla(170, 100%, 10%, 1) 0%, hsla(169, 16%, 40%, 1) 100%);
    color: #e8e5e5;
    width: 70%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    position: relative;
}

.modalContent h1 {
    position: absolute;
    top: 5%;
}

.modalContent > p {
    position: relative;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    text-justify: distribute;
    width: 60%;
}

.closeButton {
    font-size: 18px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    border: none;
    background-color: #e8e5e5;
    color: #111835;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width: 1200px){
    .modalContent p {
        font-size: 14px;
        line-height: 25px;
    }
}
@media(max-width: 1000px){
    .modalContent h1 {
        font-size: 24px;
        top:10%;
    }
}
@media(max-width: 750px){
    .modalContent p {
        font-size: 12px;
        line-height: 20px;
    }
    .modalContent h1 {
        font-size: 18px;
        top:15%;
    }
}
@media(max-width: 550px){
    .modalContent p {
        font-size: 10px;
        line-height: 15px;
    }
    .modalContent h1 {
        font-size: 14px;
        top: 20px;
    }
    .modalContent{
        height: 70%;
    }
}